github "kdisimone/LoopKit" "jojo-prebolus"
github "kdisimone/CGMBLEKit" "jojo-prebolus"
github "i-schuetz/SwiftCharts" == 0.6.5
github "kdisimone/dexcom-share-client-swift" "jojo-prebolus"
github "kdisimone/G4ShareSpy" "jojo-prebolus"
github "kdisimone/rileylink_ios" "jojo-prebolus"
github "LoopKit/Amplitude-iOS" "decreepify"
